/*****************************************
    APP MAIN STYLE
*****************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  background: #1c1c1c;
}

.footer {
  background: #303030;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.txt-center {
  text-align: center;
}

/********************************
    FLEX UTILITIES
*********************************/
.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.ji-center {
  justify-items: center;
}

.ai-center {
  align-items: center;
}

.header {
  background: #fff;
  color: #4c474d;
  padding: 1rem 0;
}
.header img {
  height: 80px;
  margin-right: 70px;
}

.navbar ul {
  list-style: none;
}
.navbar li {
  margin-right: 40px;
}
.navbar li .active {
  color: #0182f9;
}
.navbar li a {
  color: #4c474d;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar li a:last-child {
  margin-right: 0;
}