// BACKGROUND COLORS
$bg-header: #fff;
$bg-main: #1c1c1c;
$bg-footer: #303030;

//TEXT COLOROS
$txt-white: #fff;
$txt-grey: #4c474d;

// GENERIC COLORS
$primary-col: #0182f9;

// TYPOGRAPHY
$main-font: "Nunito", sans-serif;
